.footer {

  &__bottom {
    background-color: $title;
    padding: 30px 0;
    display: flex;
    justify-content: center;

    @include mq("tablet", max) {
      padding: 20px 0;
    }
  }

  &__copyright {
    color: $bg-default;
    font-size: 14px;
    line-height: 1;
  }
}