.header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-right: 15px;
  z-index: 2;
  transition: padding 1.5s ease;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    z-index: -1;
    background: $gradient;
    opacity: 0.55;
    transition: background-color 0.5s ease-in-out;
  }

  &--active {
    backdrop-filter: blur(25px);
    transition: padding-top 0.3s, color 0.3s ease;

    &::after {
      backdrop-filter: blur(50px);
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }
}